<footer>
    <div id="about">
        <p>about this app</p>
        <p>This application is designed to help users manage their tasks efficiently. It provides features such as task creation, editing, and deletion, along with user authentication.</p>
        <p>© 2023 Your Company Name. All rights reserved.</p>
        
    </div>
    <div id="contact">
        <p>contact us</p>
        <p>Follow us on:
            <a href="https://www.facebook.com" target="_blank">Facebook</a>,
            <a href="https://www.twitter.com" target="_blank">Twitter</a>,
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
        </p>
    </div>
</footer>
</body>
</html>