<!DOCTYPE html>
<html>
  <head>
    <title>IMDB Review</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
<header>
    <h2 class="logo"><a href="/">IMDB EAI</a></h2>
    <nav>
        <a href="/">Home</a>
        <a href="/training">Train</a>
        <a href="/stats">Stats</a>
        <a href="/classify">Classify</a>
        <a href="#about">About</a>
    </nav>
</header>